@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
background-color: rgb(58, 104, 148);
font-family: 'GongGothicMedium'; 
}

h1 {
font-size: 20px;
font-weight: 700;
margin-top: 40px;
}

h3 {
    margin-top: 50px;
    font-size: 10px;
}
.horizonal {
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
    margin: 70px;
	width: 280px;
	height: 500px;
	background: #c9d5e0;
	border-radius: 50px;
	box-shadow: 45px 45px 45px -15px rgba(0, 0, 0, 0.55),
		inset 15px 15px 10px rgba(255, 255, 255, 0.75),
		-8px -8px 5px rgba(255, 255, 255, 0.55),
		inset -2px -2px 15px rgba(0, 0, 0, 0.8);
}

.input-container {
    font-family: 'GongGothicMedium'; 
    margin: 5px;
    width: 180px;
    height: 45px;
    font-size: 20px;
    border-radius: 40px;
    color: rgb(23, 25, 46);
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: #c9d5e0; 
    box-shadow: 
        inset 10px 10px 20px rgba(0, 0, 0, 0.3), /* 어두운 내부 그림자 */
        inset -10px -10px 20px rgba(255, 255, 255, 0.5); /* 밝은 내부 그림자 */
    text-align: center;
}

input::placeholder {
    font-size: 15px; 
    color: rgb(160, 160, 160);
}

#title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-weight: 1000;
}

#IDEnter {
    font-family: 'GongGothicMedium';
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.1);
    background-color: #ffa200; 
    box-shadow: 
        inset 2px 2px 10px rgba(0, 0, 0, 0.3), 
        inset -2px -2px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
}

#IDEnter:hover {
    box-shadow: 
        inset 10px 10px 20px rgba(0, 0, 0, 0.3), /* 어두운 내부 그림자 */
        inset -10px -10px 30px rgba(255, 255, 255, 0.5); /* 밝은 내부 그림자 */
}

#remainingQuantityContatiner {
    margin: 20px;
	width: 250px;
	height: 90px;
    font-size: 55px;
    text-align: center;
	background: #ae3c3c;
    line-height: 90px;
    color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 45px 45px 45px -15px rgba(0, 0, 0, 0.55),
		inset 5px 5px 10px rgba(255, 255, 255, 0.75),
		-8px -8px 5px rgba(255, 255, 255, 0.55),
		inset -2px -2px 15px rgba(0, 0, 0, 0.8);
}


